@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CBA Fruit Store</h1>
    <p class="lead">A simple restful WebAPI based application for browsing products in the CBA Fruit Store.</p>
</div>

